<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/principal-fragment}">
<div class="content" layout:fragment="content">
    <div class="col-6 col-md" th:each="c : ${companies}">
        <div class="card">
            <div class="card-header">
                <a href="" class="float-right" th:title="#{label.icon.title.delete}">
                    <i class="fas fa-trash-alt fa-custom"></i>
                </a>
                <a href="" class="float-right mr-3" th:title="#{label.icon.title.edit}">
                    <i class="fas fa-edit fa-custom"></i>
                </a>
                <h6 class="card-title">[[${c.cmpName}]]</h6>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>[[#{label.companies.social.name}]]</td>
                        <td>[[${c.cmpSocialName}]]</td>
                    </tr>
                    <tr>
                        <td>[[#{label.companies.insc.estadual}]]</td>
                        <td>[[${c.cmpInscricaoEstadual}]]</td>
                    </tr>
                    <tr>
                        <td>[[#{label.companies.insc.municipal}]]</td>
                        <td>[[${c.cmpInscricaoMunicipal}]]</td>
                    </tr>
                    <tr>
                        <td>[[#{label.companies.representative}]]</td>
                        <td>[[${c.getRepresentative().repName}]]</td>
                    </tr>
                    <tr>
                        <td>[[#{label.companies.phone}]] [[#{label.companies.principal}]]</td>
                        <td>[[${c.phones.get(0).getPhoneString()}]]</td>
                    </tr>
                    <tr>
                        <td>[[#{label.companies.address}]] [[#{label.companies.principal}]]</td>
                        <td>[[${c.getAddress().getAddressString()}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a th:href="@{/companies/add}" class="btn btn-lg btn-primary btn-fab btn-icon btn-round floating-add">
        <i class="nc-icon nc-simple-add"></i>
    </a>
</div>
<script layout:fragment="javascript">
    $(document).ready(function() {
        loadDataTable();
    });
</script>
</html>